.dismiss {
  color: #e38989;
  text-align: center;
  font-size: 14px;
}

.greetings {
  color: #b1a8a8;
  text-align: center;
  font-size: 14px;
}

li {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  list-style-type: none;
  margin-top: 7px;
}

.listMessage{
  background: #fff;
  border-radius: 7px;
  height: 70%;
  padding-bottom: 60px;
  margin-bottom: 10px;
}

.main{
  background-color: #a2c4d8;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 15px;
  width: 100%;
  height:600px ;
}

.userMessage {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.message {
  background: #a2c4d8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 30px;
  padding: 7px 0 0 7px
}

.messages {
  word-wrap: break-word;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.sendMessage {
  margin: 10px 0 40px 0;
  position: relative;
}